.template-left{
	width: 250px;
	height: auto;
	overflow: hidden;
	float: left;
}
.template-left ul > li {
	color: #fff;
	width: 100%;
	text-align: center;
	line-height: 85px;
	background: url("../images/template/color_border.png") no-repeat center top;
	background-size: auto auto;
	background-size: 240px 85px;
	filter: drop-shadow( 0px 0px 0px rgba(251, 49, 49, 0.86));
	cursor: pointer;
	position: relative;
	left: -250px;
}
.template-left ul > li:hover{
	filter: drop-shadow( 0px 0px 0px #fff);
}
.template-left ul li > ol{
	width: 206px;
	margin-left: 29px;
	display: none;
}
.template-left ul li > ol li{
	height: 30px;
	line-height: 30px; 
	background: url("../images/template/circle_icon.png") no-repeat left center;
	background-size: 22px;
	/* filter: drop-shadow( 0px 0px 0px rgba(251, 49, 49, 0.86)); */
}
.template-left ul li > ol li:hover{
	filter: drop-shadow( 0px 0px 0px #fff);
}
.template-right{
	width: 949px;
	height: auto;
	float: right;
}
.top-time{
	height: 60px;
	color: white;
	position: relative;
	opacity: 0;
}
.time-flipcountdown{
	margin-top: 10px;
}
/* .top-bar{
	background: linear-gradient(to right, #fe0602 , #4b74f9);
	box-shadow: 0px 1px 2px 0px #4b71fa;
	height: 2px;
	border: none;
	width: 0;
} */
.weekendText{
	float: left;
	line-height: 54px;
	padding-left: 10px;
}
.weekendText em{
	font-size: 22px;
	font-weight: bold;
	color: red;
	text-shadow: 1px 1px 1px #fff;
}
.time-flipcountdown{
	position: absolute;
	right: 0;
	top: -7px;
	margin-right: 3px;
}
.switchConainer{
	width: 100%;
	height: auto;
}